{% extends 'task/base.html' %}
{% block title %}About Me - To Do App {% endblock %}
{% block content %}
<div class="row my-3 text-light">
    <div class="col-md-6 m-auto">
        <div class="card bg-info">
            <div class="card-header">
                <div class="card-title text-center">About Me</div>
            </div>
            <div class="card-body">
                <p class="lead text-light">
                    Hello, my name is sandip sadhukhan. I developed this app to easily and securely store our daily task list. 
                </p>
                <h6>Technology Used : </h6>
                <ul class="list-group bg-info text-dark">
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                    <li class="list-group-item">Bootstrap</li>
                    <li class="list-group-item">Django</li>
                    <li class="list-group-item">Sqllite</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}