{% extends 'task/base.html' %}
{% block title %}Login | To Do App{% endblock %}
{% block content %}
{% if from.errors %}
<p>There's something wrong with what you entered!</p>
{% endif %}
{% if next %}
<p>Hey, you can't access that page</p>
{% endif %}
<div class="row text-center my-3 text-light">
  <div class="col-md-6 m-auto">
    <div class="card bg-success">
      <div class="card-header">
        <div class="card-title">Login Form</div>
      </div>
      <div class="card-body">
        
    <form class="login-form" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        {{ form.username }}
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        {{ form.password }}
      </div>
      <input class="btn btn-light mb-3" type="submit" value="login">
      <input type="hidden" name="next" value="{{next}}">
      <p class="message">Not registered? <a class="text-dark" style="text-decoration: underline;" href="{% url 'register' %}">Create an account</a></p>
    </form>
      </div>
    </div>
  </div>
</div>
<script>
  let input_form = document.querySelectorAll('input')
  input_form[1].placeholder = "Enter username..."
  input_form[1].className += 'form-control'
  input_form[2].placeholder = "Enter password..."
  input_form[2].className += 'form-control' 
</script>

{% endblock %}